/* palette: #212529 - black ; #7e94a9 - grey ; #DEE2E6 - white */

@font-face {
    font-family: josefinsans_bold;
    src: url(/fonts/JosefinSans-Bold.ttf);
}
@font-face {
    font-family: josefinsans_light;
    src: url(/fonts/JosefinSans-Light.ttf);
}
@font-face {
    font-family: futura;
    src: url(/fonts/FuturaLT-Light.woff);
}
body {
    /* background: url('/images/temporary_bg.jpg') no-repeat bottom center fixed; */
    /* background: url('/images/test5.gif') no-repeat center center; https://giphy.com/gifs/rztOrvmlPnyXNxymEZ */
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #212529;
    
}

.title {
    position: fixed;
    font-family: josefinsans_bold;
    color: #DEE2E6;
    font-size: 100px;
    letter-spacing: 20px;
    line-height: 100px;
    margin-left: 5%;
}
  


.screen-split {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 50%;
    right: 0;
    background-color: #DEE2E6;
}

.left-box {
    position: fixed;
    height: 90%;
    width: 40%;
    border-radius: 50px 10px 10px 50px;
    border: #DEE2E6 solid 10px;
    left: 0;
    margin-left: 5%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: inset 0 0 0 0 #DEE2E6;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease, letter-spacing 0.5s ease, ease-out 0.5s;
}

.left-box:hover {
    border-radius: 60px 20px 20px 60px;
    height: 89.5%;
    width: 39.5%;
}

.sub-items-container {
    display: flex;
    flex-direction: column;
}

.right-box {
    position: fixed;
    height: 90%;
    width: 40%;
    border-radius: 10px 50px 50px 10px;
    border: #212529 solid 10px;
    right: 0;
    margin-right: 5%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease, letter-spacing 0.5s ease, ease-out 0.5s;
}

.right-box:hover {
    border-radius: 20px 60px 60px 20px;
    height: 89.5%;
    width: 39.5%;
}

.advanceduser-text {
    font-family: josefinsans_bold;
    color: #DEE2E6;
    font-size: 25px;
    letter-spacing: 5px;
    margin: 5px;
}

.advsub-desc {
    font-family: josefinsans_light;
    color: #dee2e668;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2.5px;
    margin-bottom: 10px;
}

.newuser-text {
    font-family: josefinsans_bold;
    color: #212529;
    font-size: 25px;
    letter-spacing: 5px;
    margin: 5px;
}

.newsub-desc {
    font-family: josefinsans_light;
    color: #000000;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2.5px;
    margin-bottom: 10px;
}
