@use "sass:math";
@use "sass:color";
@import "../palette";
@import "common";
@import "home-tutorial-common";

.path-container {
    z-index: 2;
    position: absolute;
    padding: 20rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    font-size: 200%;
    height: 50%;
    width: 100%;
    border-radius: 0.5rem;
    background-color: color.change($purewhite, $alpha: math.div(0, 255));

    margin: 3rem;
    transition: 0.4s ease;

    &:hover {
        transform: scale(1, 1.1);
        border-radius: 1rem;
        font-size: 210%;
        color: $black2;
    }

    .regular-button {
        @extend .button;
        border: $white1 2px solid;
        color: $white1;

        &:hover {
            background-color: $white1;
        }
    }
    .admin-button {
        @extend .button;
        border: $gold2 2px solid;
        color: $gold2;

        &:hover {
            background-color: $gold2;
        }

        &:disabled {
            pointer-events: none;
            background-color: color.change($black1, $alpha: math.div(108, 255));
            border: color.change($black1, $alpha: math.div(170, 255)) 2px solid;
            color: color.change($purewhite, $alpha: math.div(61, 255));
        }
    }
}
