/*
palette
black1: #151515
black2: #0a0a0a
white: #fbfcd4
yellow: #ffdd02
gold: #fac402 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow: hidden;
    font-family: "aboreto", sans-serif;
    background-color: #0a0a0a;
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.slides {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

nav {
    color: #ffffff;
    z-index: 2;
    position: relative;
    padding: 3rem 6rem;
    display: flex;
    justify-content: space-between;
}
nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
nav ul {
    cursor: pointer;
    font-weight: lighter;
    list-style: none;
    display: flex;
    gap: 4rem;
}

#logo-icon {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    filter: opacity(80%);
    transition: 0.5s ease;
}
#logo-icon:hover {
    transform: scale(1.05, 1.05);
    filter: opacity(100%);
}
  
nav ul li a {
    color: #ffffff;
    transition:  0.5s ease;
}
nav ul li a:hover {
    color: #fac402;
}

.title1 {
    color: #fbfcd4;
    z-index: 2;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    font-size: 4rem;
    padding: 8rem 6rem;
    width: 100%;
}

.title2 {
    color: #fac402;
    text-align: center;
    z-index: 2;
    position: absolute;
    font-size: 7rem;
    padding: 12rem 6rem;
    width: 100%;
    left: 0;
}

#general-diagram {
    z-index: 2;
    position: relative;
    height: 50%;
    width: 50%;
    top: 25%;
    filter: invert(10%);
}