@use "sass:color";
@use "sass:math";
@import "palette";

$background-black: color.change($black1, $alpha: math.div(144, 255));

.flex-centre,
.slides {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    @extend .flex-centre;
    position: absolute;
    z-index: 2;
    border-radius: 1rem;
    box-shadow:
        rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 0.5rem;
    background-color: $background-black;
    width: 25%;
    left: 50%;
    right: 50%;

    .signup-container {
        @extend .container;
        height: 55%;
        transform: translate(-50%, 25%);
    }

    .login-container {
        @extend .container;
        height: 35%;
        transform: translate(-50%, 45%);
    }
}

.header {
    color: $gold;
    width: 85%;
    text-align: left;
    font-weight: lighter;
    font-size: 1rem;
    margin: 1.5rem;
    margin-bottom: 0.4rem;
}

.input-box {
    height: 8%;
    width: 90%;
    background-color: $background-black;
    color: $purewhite;
    padding: 1rem;
    border: $pureblack 1px solid;
    font-size: 1rem;
}

.title {
    color: $gold;
    z-index: 2;
    position: absolute;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    padding: 3rem 6rem;
    width: 100%;
}

.button {
    color: $black2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    width: 90%;
    border-radius: 0.5rem;
    background-color: $gold2;
    margin: 1rem;
    padding: 1rem;
    transition: 0.3s ease;

    &:hover {
        color: $gold2;
        background-color: color.change($gold2, $alpha: math.div(114, 255));
    }

    .signup-button {
        @extend .button;
        height: 15%;
    }
    .login-button {
        @extend .button;
        height: 25%;
    }
}

.prompting {
    color: $pureblack;
    z-index: 5;
    position: relative;
    font-size: 0.75rem;
}

/* add a adminastrator login prompt */
