/*
palette
black1: #151515
black2: #0a0a0a
white: #fbfcd4
yellow: #ffdd02
gold: #fac402 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
  font-family: "aboreto", sans-serif;
  background-color: #0a0a0a;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
  
.slides {
  width: 100%;
  height: 100vh;
}

nav {
  color: #ffffff;
  z-index: 2;
  position: relative;
  padding: 3rem 6rem;
  display: flex;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
nav ul {
  cursor: pointer;
  font-weight: lighter;
  list-style: none;
  display: flex;
  gap: 4rem;
}

nav ul li a {
  color: #ffffff;
  transition:  0.5s ease;
}
nav ul li a:hover {
  color: #fac402;
}

.title1 {
  color: #fac402;
  z-index: 2;
  position: absolute;
  font-size: 4rem;
  padding: 3rem 6rem;
  width: 100%;
}
.title2 {
  color: #ffde65;
  z-index: 2;
  position: absolute;
  font-size: 4rem;
  padding: 7rem 6rem;
  width: 50%;
  left: 0;
}
.title3 {
  color: #fff6d4;
  z-index: 2;
  position: absolute;
  font-size: 4rem;
  padding: 11rem 6rem;
  width: 50%;
  left: 0;
}

.title4 {
  color: #fac402;
  z-index: 2;
  position: absolute;
  text-align: left;
  font-size: 2.5rem;
  padding: 3rem 6rem;
  width: 100%;
}
.title5 {
  color: #ffde65;
  z-index: 2;
  position: absolute;
  text-align: left;
  font-size: 2.5rem;
  padding: 6rem 6rem;
  width: 100%;
}
.title6 {
  color: #fff6d4;
  z-index: 2;
  position: absolute;
  text-align: left;
  font-size: 2.5rem;
  padding: 9rem 6rem;
  width: 100%;
}

.desc {
  color: #ffffff;
  z-index: 2;
  position: absolute;
  text-align: left;
  font-weight: lighter;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  font-size: 1rem;
  padding: 17rem 6.5rem;
  width: 35rem;
  left: 0;
}

.description {
  color: #ffffff;
  z-index: 2;
  position: absolute;
  text-align: left;
  font-weight: lighter;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  font-size: 1rem;
  padding: 1rem 6.5rem;
}

.join-button {
  color: #0a0a0a;
  position: relative;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: #d8b740;
  margin: 1rem;
  padding: 0.8rem; 
  transition: 0.3s ease;
}

.join-button:hover {
  color: #d8b740;
  background-color: #0a0a0a67;
}