@use "sass:color";
@use "sass:math";
@import "palette";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

body,
html {
    overflow-x: hidden;
    background-color: $black2;
    
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

nav {
    color: $purewhite;
    z-index: 2;
    position: relative;
    padding: 3rem 6rem;
    display: flex;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: $purewhite;
        font-weight: bold;
    }
    ul {
        cursor: pointer;
        font-weight: lighter;
        list-style: none;
        display: flex;
        gap: 4rem;

        li a {
            color: $purewhite;
            transition: 0.5s ease;

            &:hover {
                color: $gold;
            }
        }
    }
}

#logo-icon {
    height: 2.5rem;
    width: 2.5rem;
    filter: opacity(80%);
    transition: 0.5s ease;

    &:hover {
        transform: scale(1.05, 1.05);
        filter: opacity(100%);
    }
}

.main{
    z-index: 5;
    height: 100vh;
    margin-top: -10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    z-index: 2;
    width: 90%;
    height: 60%;
    padding: 40px 50px 40px 40px;
    background: #00000082;
    border-radius: 5px;
    border: 1px $gold3 solid;
}

.query-title {
    position: relative;
    color: $gold;
    z-index: 2;
    top: 0;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin: 1%;
}

.container {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.content{
    display: flex;
    justify-content: space-between;
}

.content .list{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    width: 20%;
    right: 75px;
    margin-right: 50px;
    position: relative;
}
.content .list label{
    height: 70px;
    font-size: 1.4rem;
    line-height: 65px;
    cursor: pointer;
    padding-left: 25px;
    transition: all 0.5s ease;
    color: $fadedgrey;
    z-index: 12;

    overflow: hidden;
}
#vehicle:checked ~ .list label.vehicle,
#route:checked ~ .list label.route,
#time:checked ~ .list label.time,
#weather:checked ~ .list label.weather,
#paths:checked ~ .list label.paths,
#budget:checked ~ .list label.budget,
#gadget-restrictions:checked ~ .list label.gadget-restrictions{
    color: $black1;
    
}
.content .list label:hover{
    color: $black2;
}
.content .slider{
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    border-radius: 12px;
    background: $gold2;
}
#vehicle:checked ~ .list .slider{
    top: 0;
}
#route:checked ~ .list .slider{
    top: 70px;
}
#time:checked ~ .list .slider{
    top: 140px;
}
#weather:checked ~ .list .slider{
    top: 210px;
}
#paths:checked ~ .list .slider{
    top: 280px;
}
#budget:checked ~ .list .slider{
    top: 0;
}
#gadget-restrictions:checked ~ .list .slider{
    top: 70px;
}
.content .text-content{
    width: 80%;
    height: 100%;
}
.content .text{
    display: none;
}
.content .text .title{
    font-size: 25px;
    margin-bottom: 10px;
    overflow:hidden;
}
.section-title {
    position: relative;
    left: 3%;
    color: $gold2;
    font-weight: lighter;
    font-size: 1.5rem;
    top: 20px;
    
}
.query-description {
    position: relative;
    left: 2%;
    color: $gold2;
    font-weight: light;
    font-size: 1.2rem;
    width: 90%;
    margin: 1%;
}
.sub-title {
    position: relative;
    left: 2%;
    color: $gold2;
    font-weight: lighter;
    font-size: 2rem;
    width: 90%;
    margin: 1%;
}
.sub-header {
    position: relative;
    color: $gold;
    z-index: 2;
    top: 0;
    font-weight: bolder;
    font-size: 2rem;
    width: 100%;
    margin: 1%;
}
.content .text p{
    text-align: justify;
}
.content .text-content .vehicle{
    display: block;
}
#vehicle:checked ~ .text-content .vehicle,
#route:checked ~ .text-content .route,
#time:checked ~ .text-content .time,
#weather:checked ~ .text-content .weather,
#paths:checked ~ .text-content .paths,
#budget:checked ~ .text-content .budget,
#gadget-restrictions:checked ~ .text-content .gadget-restrictions {
    display: block;
}
//add ?
#route:checked ~ .text-content .vehicle,
#time:checked ~ .text-content .vehicle,
#weather:checked ~ .text-content .vehicle,
#paths:checked ~ .text-content .vehicle {
    display: none;
}
.content .con{
    display: none;
}

select {
    font-size: 25px;
    cursor: pointer;
    width: 95%;
    left: 3%;
    position: relative;
    padding: 2% 3% 2% 3%;
    border-radius: 5px;
    color: $gold;
    background-color: color.change($pureblack, $alpha: math.div(0, 255));
    border: 1px $gold solid;
    transition: 0.5s ease;

    &:focus {
        outline: none;
    }

    &:hover {
        border-radius: 10px;
        color: $purewhite;
        border: 1px $purewhite solid;
    }
}

#option_ {
    background-color: $pureblack;
    color: $gold;
    transition: 0.5s ease;

    &:hover {
        background-color: $gold;
        color: $pureblack;
    }
}

.route-slider {
    -webkit-appearance: none;
    z-index: 2;
    display:flex;
    border-radius: 5px;
    width: 75%;
    height: 20%;
    background: $gold;
    outline: none;
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: 0.5s ease;

    &-title {
        color: $gold;
        font-size: 100%;
        width: 35%;
    }

    &-container {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 25px;
        border-radius: 25%;
        background: $gold3;
        cursor: pointer;
        transition: 0.5s ease;
    }
    &::-moz-range-thumb {
        width: 10px;
        height: 25px;
        background: $gold;
        border-radius: 5px;
        cursor: pointer;
    }
    &:hover::-webkit-slider-thumb {
        background: $black3;
        border-radius: 0;
    }
    &:hover {
        border-radius: 0;
    }
}

.slider-title {
    font-size: 25px;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    color: $gold;
    transition: 0.5s ease;
}

.safety-slider-container,
.distance-slider-container,
.speed-slider-container {
    width: 80%;
    display: flex;
    margin-left: 3%;
    justify-content: space-between;
    align-items: center;
}

#safety-value,
#distance-value,
#speed-value {
    position: relative;
    color: color.change($gold, $alpha: math.div(154, 255));
    font-size: 100%;
    width: 1%;
}
.reset-values-button {
    cursor: pointer;
    position: relative;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gold;
    font-size: 25px;
    border: 1px $gold solid;
    margin: 3%;
    margin-bottom: 0%;
    height: 60px;
    border-radius: 5px;
    transition: 0.5s ease;

    &:hover {
        color: $purewhite;
        border: 1px $purewhite solid;
        border-radius: 10px;
    }
}

#time-set {
    font-size: 25px;
    cursor: pointer;
    width: 95%;
    left: 3%;
    position: relative;
    padding: 2% 3% 2% 3%;
    border-radius: 5px;
    color: $gold;
    background-color: color.change($pureblack, $alpha: math.div(0, 255));
    border: 1px $gold solid;
    
    transition: 0.5s ease;
    margin-top: 25px;

    &:hover {
        border-radius: 10px;
        color: $purewhite;
        border: 1px $purewhite solid;
    }
}
input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    background-color: $gold;
    border-radius: 5px;
    transition: 0.5s ease;

    &:hover {
        background-color: $fadedgrey;
        border-radius: 10px;
    }
}

#paths-input {
    font-size: 25px;
    position: relative;
    border-radius: 5px;
    border: 1px $gold solid;
    color: $gold;
    font-weight: light;
    background-color: color.change($pureblack, $alpha: math.div(89, 255));
    left: 3%;
    width: 90%;
    transition: 0.5s ease;
    padding: 2% 3% 2% 3%;
    transition: 0.5s ease;

    &::placeholder {
        color: $fadedgrey;
    }
    &:hover {
        color: $purewhite;
        border: 1px $purewhite solid;
        border-radius: 10px;
    }
}

.continue-button-container {
    position: fixed;
    width: 100%;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.go-routing-button {
    cursor: pointer;
    position: relative;
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: $gold;
    font-size: 30px;
    border: 1px $gold solid;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.5s ease;
    bottom:0;

    &:hover {
        color: $purewhite;
        border: 1px $purewhite solid;
        background-color: transparent;
        border-radius: 10px;
    }
}

.routing-title {
    position: relative;
    color: $gold;
    z-index: 2;
    top: 0;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin: 1%;
}

.map {
    z-index: 2;
    width: 90%;
    height: 60%;
    padding: 40px 50px 40px 40px;
    background: #00000082;
    border: 1px $gold3 solid;
    border-radius: 10px;
}

.setlocations-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.start-loc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.dest-loc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.map-subtitle-start,
.map-subtitle-end {
    position: relative;
    color: $gold2;
    font-weight: lighter;
    font-size: 30px;
    width: 50%;
    margin-top: 2%;
    margin-left: 3%;
    overflow-x: hidden;
}

.map-subtitle-end {
    color: $blue;
}

#starting-address,
#ending-address {
    font-size: 25px;
    position: relative;
    border-radius: 5px;
    border: 1px $gold solid;
    color: $gold;
    font-weight: light;
    background-color: color.change($pureblack, $alpha: math.div(89, 255));
    width: 120%;
    transition: 0.5s ease;
    margin-top: 2%;
    padding: 1% 1% 1% 1%;
    transition: 0.5s ease;

    &::placeholder {
        color: $fadedgrey;
    }
    &:hover {
        color: $purewhite;
        border: 1px $purewhite solid;
        border-radius: 10px;
    }
}

#ending-address {
    border: 1px $blue solid;
    color: $blue;
}

.start-picker-button,
.end-picker-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position: relative;
    border-radius: 5px;
    border: 1px $gold solid;
    color: $gold;
    font-weight: lighter;
    background-color: color.change($pureblack, $alpha: math.div(89, 255));
    width: 30%;
    transition: 0.5s ease;
    margin-top: 2%;
    padding: 1% 1% 1% 1%;
    transition: 0.5s ease;
    margin-left: 2%;

    &:hover {
        color: $purewhite;
        border: 1px $purewhite solid;
        border-radius: 10px;
    }
}

.end-picker-button {
    border: 1px $blue solid;
    color: $blue;
}

.submit-form-container {
    position: relative;
    width: 100%;
    margin-top: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-form-button {
    cursor: pointer;
    position: relative;
    width: 75%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: $black2;
    font-size: 30px;
    font-weight: bolder;
    border: 1px $gold solid;
    background-color: $gold;
    border-radius: 5px;
    transition: 0.5s ease;
    bottom:0;

    &:hover {
        color: $gold;
        border: 1px $gold solid;
        background-color: transparent;
        border-radius: 10px;
    }
}

.go-queries-button {
    cursor: pointer;
    height: 80px;
    width: 13%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: $gold2;
    font-size: 22.5px;
    font-weight: normal;
    border: 1px $gold solid;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.5s ease;
    bottom:0;
    
    &:hover {
        color: $purewhite;
        border: 1px $purewhite solid;
        background-color: transparent;
        border-radius: 10px;
    }
}

.results-container {
    position: relative;
    width: 90%;
    margin-top: -7%;
    display: flex;
    justify-content: left;
    align-items: center;
}


.back-routing-button {
    cursor: pointer;
    height: 150px;
    width: 25.5%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: $gold2;
    font-size: 22.5px;
    font-weight: normal;
    border: 1px $gold solid;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.5s ease;
    margin-bottom: 1%;
    
    &:hover {
        color: $purewhite;
        border: 1px $purewhite solid;
        background-color: transparent;
        border-radius: 10px;
    }
}

.results-main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.results-map {
    z-index: 2;
    width: 65%;
    margin-top: 10%;
    height: 80%;
    padding: 40px 50px 40px 40px;
    background: #00000082;
    border: 2px $gold3 solid;
    border-radius: 10px;
}

.values-table-component {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px $gold solid;
    border-radius: 10px;
    width: 23%;
    height: 60%;
    margin-right: 2%;
    overflow: scroll;
    z-index: 5;
}
.values-table-component table {
    border: transparent;
    height: 100%;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}

.values-table-component th {
    background-color: #fac401;
    color: #050505;
    padding: 1%;
}

.values-table-component td {
    border: 1px solid $gold3;
    background-color: #050505;
    color: #fac401;
    padding: 1%;
}

.results-title {
    position: relative;
    color: $gold;
    z-index: 2;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin-top: 7.5%;
    margin-bottom: -8%;
}

#budget-input {
    font-size: 25px;
    position: relative;
    border-radius: 5px;
    border: 1px $gold solid;
    color: $gold;
    font-weight: light;
    background-color: color.change($pureblack, $alpha: math.div(89, 255));
    left: 3%;
    width: 90%;
    transition: 0.5s ease;
    padding: 2% 3% 2% 3%;
    transition: 0.5s ease;

    &::placeholder {
        color: $fadedgrey;
    }
    &:hover {
        color: $purewhite;
        border: 1px $purewhite solid;
        border-radius: 10px;
    }
}

.checkbox-container {
    position: relative;
    width: 80%;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    align-items: start;
    grid-gap: 0.2rem;
    left: 3%;
    margin-top: 2%;
}

.individual-check {
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 25px;
    color: $gold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.5s ease;
}

.individual-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border: 1px $gold solid;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.5s ease;
}

.individual-check:hover {
    color: $purewhite;
}

.individual-check:hover input ~ .checkmark {
    border: 1px $purewhite solid;
    background-color: transparent;
    border-radius: 10px;
}

.individual-check input:checked ~ .checkmark {
    background-color: $gold;
}

.individual-check:hover input:checked ~ .checkmark {
    border: 1px $purewhite solid;
    background-color: $purewhite;
    border-radius: 10px;
}
  

.admin-queries-results-container {
    position: relative;
    top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: left;
    padding: 1%;
    align-items: center;
    border: 3px $gold solid;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.5s ease;
}

.submit-admin-queries-button {
    cursor: pointer;
    position: relative;
    width: 15%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: $gold;
    font-size: 25px;
    border: 1px $gold solid;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.5s ease;
    bottom:0;

    &:hover {
        color: $purewhite;
        border: 1px $purewhite solid;
        background-color: transparent;
        border-radius: 10px;
    }
}

.admin-specific-results {
    font-weight: light;
    color: $gold3;
    font-size: 25px;
}

.admin-results-header {
    font-weight: bold;
    color: $gold;
    font-size: 25px;
}

.admin-form-container {
    z-index: 2;
    width: 90%;
    height: 45%;
    margin-bottom: 1%;
    padding: 40px 50px 40px 40px;
    background: #00000082;
    border-radius: 5px;
    border: 1px $gold3 solid;
}

.ai-prompting-container {
    z-index: 2;
    width: 90%;
    height: 15%;
    margin-bottom: 1%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000082;
    border-radius: 5px;
    border: 2px $gold3 solid;
}

.ai-input {
    background-color: transparent;
    font-size: 30px;
    border: none;
    width: 80%;
    margin-right: 2%;
    height: 95%;
    color: $white3;
    padding: 1%;
}

.ai-input::placeholder {
    color: $fadedgrey;
}

.main-admin{
    z-index: 5;
    height: 100vh;
    margin-top: -7%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}